aerich                         # DB migration tool for Tortoise ORM
babel                          # Localization / translation support
bcrypt                         # Library for password hashing
factory-boy                    # Test helper for creating model factories
fakeredis                      # Test helper to mock Redis instance
fastapi-jwt-auth               # JWT token integration for FastAPI
fastapi[all]                   # Async server framework
isort                          # Utility to sort imports
nest-asyncio                   # Test helper to allow execution of nested async tasks
pip-tools                      # Utility to generate strict requirements.txt
pytest                         # Test framework
pytest-asyncio                 # Async plugin for pytest
pytest-xdist                   # Utility to run pytest on multiple cores in parallel
redis                          # Sync/async ORM for Redis
starlette-admin                # Admin panel for FastAPI / Starlette
tortoise-orm[asyncpg]==0.18.1  # Async DB ORM
